$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-marker-add-2: "\e9ea";
$icon-marker-add: "\e9eb";
$icon-playstore: "\e9d4";
$icon-playstore-1: "\e9d5";
$icon-playstore-2-path1: "\e9d6";
$icon-playstore-2-path2: "\e9d7";
$icon-playstore-2-path3: "\e9d8";
$icon-playstore-2-path4: "\e9d9";
$icon-playstore-2-path5: "\e9da";
$icon-playstore-2-path6: "\e9db";
$icon-playstore-2-path7: "\e9dc";
$icon-playstore-2-path8: "\e9dd";
$icon-playstore-3: "\e9de";
$icon-playstore-4-path1: "\e9df";
$icon-playstore-4-path2: "\e9e0";
$icon-playstore-4-path3: "\e9e1";
$icon-playstore-4-path4: "\e9e2";
$icon-playstore-4-path5: "\e9e3";
$icon-playstore-4-path6: "\e9e4";
$icon-playstore-4-path7: "\e9e5";
$icon-playstore-5-path1: "\e9e6";
$icon-playstore-5-path2: "\e9e7";
$icon-playstore-5-path3: "\e9e8";
$icon-playstore-5-path4: "\e9e9";
$icon-SKO: "\e9cf";
$icon-SOK: "\e9d0";
$icon-VAM: "\e9d1";
$icon-email-1: "\e9b0";
$icon-mail-3: "\e9b1";
$icon-letter-1: "\e9b2";
$icon-mail-5: "\e9b3";
$icon-letter-2: "\e9b4";
$icon-ui: "\e9b5";
$icon-upload: "\e9b6";
$icon-cloud-computing: "\e9b7";
$icon-upload-5: "\e9b8";
$icon-upload-6: "\e9b9";
$icon-upload-to-cloud: "\e9ba";
$icon-upload-arrow: "\e9bb";
$icon-attachment1: "\e9bc";
$icon-attachment-2: "\e9bd";
$icon-attachment-4: "\e9be";
$icon-attach: "\e9bf";
$icon-clip: "\e9c0";
$icon-pin: "\e9c1";
$icon-attachment-7: "\e9c2";
$icon-pin-2: "\e9c3";
$icon-attach-2: "\e9c4";
$icon-photo: "\e9c5";
$icon-attach-3: "\e9c6";
$icon-clip-7: "\e9c7";
$icon-clip-8: "\e9c8";
$icon-garbage: "\e9c9";
$icon-trash: "\e9ca";
$icon-garbage-2: "\e9cc";
$icon-trash-5: "\e9ce";
$icon-three-dots-more-indicator1: "\e933";
$icon-calendar-7: "\e97f";
$icon-calendar-8: "\e980";
$icon-calendar: "\e981";
$icon-calendar-1: "\e982";
$icon-calendar-2: "\e983";
$icon-calendar-3: "\e984";
$icon-event: "\e985";
$icon-calendar-4: "\e986";
$icon-calendar-5: "\e987";
$icon-calendar-6: "\e988";
$icon-event-1---Copie: "\e989";
$icon-event-1: "\e98a";
$icon-calendar-9: "\e98b";
$icon-calendar-10: "\e98c";
$icon-calendar-11: "\e98d";
$icon-calendar-12: "\e98e";
$icon-signaling: "\e98f";
$icon-time-and-date: "\e990";
$icon-calendar-13: "\e991";
$icon-calendar-14: "\e992";
$icon-calendar-15: "\e993";
$icon-time-and-date-1: "\e994";
$icon-calendar-16: "\e995";
$icon-calendar-17: "\e996";
$icon-time-and-date-2: "\e997";
$icon-time-and-date-3: "\e998";
$icon-time-and-date-4: "\e999";
$icon-time-and-date-5: "\e99a";
$icon-time-and-date-6: "\e99b";
$icon-csv: "\e99c";
$icon-doc: "\e99d";
$icon-exe: "\e99e";
$icon-html: "\e99f";
$icon-jpg: "\e9a0";
$icon-json-file: "\e9a1";
$icon-pdf2: "\e9a2";
$icon-png: "\e9a3";
$icon-ppt: "\e9a4";
$icon-rtf: "\e9a5";
$icon-svg: "\e9a6";
$icon-txt: "\e9a7";
$icon-xls: "\e9a8";
$icon-xml: "\e9a9";
$icon-zip: "\e9aa";
$icon-zip-1: "\e9ab";
$icon-meeting: "\e91a";
$icon-thinking: "\e964";
$icon-coffee-cup: "\e967";
$icon-analytics2: "\e968";
$icon-deal: "\e969";
$icon-clock-2: "\e96a";
$icon-power-button-3: "\e917";
$icon-power-button-2: "\e918";
$icon-power-button: "\e919";
$icon-power-1: "\e91b";
$icon-three-dots-more-indicator: "\e947";
$icon-more-button-of-three-dots: "\e963";
$icon-star-1: "\e95f";
$icon-folder-r: "\e960";
$icon-add-1: "\e96b";
$icon-document: "\e96c";
$icon-download-1: "\e96d";
$icon-download-from-the-cloud: "\e96e";
$icon-file-1: "\e96f";
$icon-folder-1: "\e970";
$icon-folder-4: "\e971";
$icon-multiply: "\e972";
$icon-search1: "\e973";
$icon-reload: "\e961";
$icon-refresh: "\e962";
$icon-settings: "\e954";
$icon-save: "\e955";
$icon-printer: "\e956";
$icon-printer2: "\e957";
$icon-ico-etat0-8: "\e974";
$icon-ico-etat-01: "\e975";
$icon-ico-etat-02: "\e976";
$icon-ico-etat-03: "\e977";
$icon-ico-etat-04: "\e978";
$icon-ico-etat-05: "\e979";
$icon-ico-etat-06: "\e97a";
$icon-ico-etat-07: "\e97b";
$icon-C: "\e953";
$icon-A: "\e94c";
$icon-B: "\e94d";
$icon-D: "\e94e";
$icon-E: "\e94f";
$icon-R: "\e950";
$icon-T: "\e951";
$icon-X: "\e952";
$icon-return: "\e9ac";
$icon-click: "\e9ad";
$icon-text: "\e9ae";
$icon-coffee-cup2: "\e97c";
$icon-analytics: "\e97d";
$icon-analysis: "\e97e";
$icon-maps-and-flags: "\e958";
$icon-note-3: "\e959";
$icon-chat: "\e90c";
$icon-notification: "\e945";
$icon-ring: "\e946";
$icon-filter-1: "\e948";
$icon-menu: "\e949";
$icon-menu-options: "\e94a";
$icon-check-in: "\e95a";
$icon-report: "\e95b";
$icon-folder1: "\e95c";
$icon-fla-2g: "\e95d";
$icon-flag: "\e95e";
$icon-cloud: "\e92c";
$icon-clock2: "\e92d";
$icon-flags: "\e931";
$icon-route1: "\e934";
$icon-route2: "\e935";
$icon-route3: "\e936";
$icon-route4: "\e93e";
$icon-route6: "\e93f";
$icon-route7: "\e940";
$icon-routes: "\e941";
$icon-share: "\e942";
$icon-notify1: "\e943";
$icon-route: "\e944";
$icon-play-button: "\e920";
$icon-user: "\e921";
$icon-businessman: "\e922";
$icon-businesswoman: "\e923";
$icon-file-jpg: "\e924";
$icon-question: "\e925";
$icon-file-pdf: "\e926";
$icon-pdf-2: "\e927";
$icon-download: "\e928";
$icon-pdf: "\e91d";
$icon-pdf1: "\e91e";
$icon-conversation: "\e94b";
$icon-hospital-nav: "\e91f";
$icon-time-management: "\e916";
$icon-back: "\e914";
$icon-hold: "\e915";
$icon-icn-ch: "\e910";
$icon-icn-region: "\e911";
$icon-icn-town: "\e912";
$icon-icn-anote: "\e913";
$icon-detail: "\e905";
$icon-accept: "\e904";
$icon-refuse: "\e906";
$icon-clock: "\e91c";
$icon-chalendisesvg: "\e907";
$icon-charte: "\e908";
$icon-choix: "\e909";
$icon-closel: "\e90a";
$icon-equipement: "\e90b";
$icon-tr: "\e90d";
$icon-transport: "\e90e";
$icon-home: "\e900";
$icon-profile: "\e901";
$icon-quitter: "\e902";
$icon-notifyline: "\e90f";
$icon-edit: "\e903";
$icon-facturation: "\e92e";
$icon-filter: "\e92f";
$icon-info: "\e930";
$icon-mission: "\e932";
$icon-search: "\e937";
$icon-stat: "\e938";
$icon-tools-2: "\e929";
$icon-wrench: "\e929";
$icon-screwdriver: "\e929";
$icon-tools: "\e939";
$icon-measure: "\e939";
$icon-design: "\e939";
$icon-ruler: "\e939";
$icon-pencil: "\e939";
$icon-folder: "\e92a";
$icon-bubble_chart: "\e93a";
$icon-check_box: "\e93b";
$icon-check: "\e93c";
$icon-check1: "\e93d";
$icon-undo: "\e965";
$icon-redo: "\e966";
$icon-spinner3: "\e9af";
$icon-link: "\e9cb";
$icon-attachment: "\e9cd";
$icon-bookmark: "\e9d2";
$icon-bookmarks: "\e9d3";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";
$icon-tab: "\ea45";
$icon-move-up: "\ea46";
$icon-move-down: "\ea47";
$icon-ctrl: "\ea50";
$icon-embed: "\ea7f";
$icon-embed2: "\ea80";
$icon-appleinc: "\eabe";
$icon-android: "\eac0";
$icon-file-word: "\eae1";
$icon-file-excel: "\eae2";
$icon-folder-open-o: "\e92b";

